body{
    display: block;
    height: 600px;
    width: 100%;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sidebar{
    --offset: var(--space);
  /* ... */
  position: sticky;
  top: var(--offset);
    width: 310px;
    height: 100vh;
    border-right: 0.5px solid rgb(231, 227, 227);
    display: block;
    
}
.main-body{
    width: calc(100% - 747px);
    height: 100%;
}
.left-sidebar{
    width: 437px;
    height:100vh;
    border-left:  0.5px solid rgb(231, 227, 227);
}
.sidebar .category{
    width: 180px;
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 40px;
    margin-top: 5px;
}
.category:hover{
    border-radius: 20px;
    background-color: rgb(222, 224, 226);
}
.logo{
    width: 50px;
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.logo :hover{
    border-radius: 50px; 
    border: 1px solid rgb(210, 244, 247);;
    background-color:rgb(210, 244, 247);
}
.button{
    width: 230px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    color:  rgb(255, 255, 255);
    text-align: center;
    height: 50px;
    margin-left: 40px;
    margin-top: 15px;
    border: none;
    background-color:  rgb(29, 155, 240);
}
.button:hover{
    background-color:  rgb(27, 139, 214);
}
.category img{
    padding-right: 15px;
    padding-left: 10px;
}
.category label{
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}
.logo img{
    width: 40px;
    height: 40px;
    margin-left: -4px;
    padding-left: 4px;
}
.account{
    margin-top: 65px;
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
    margin-left: 40px;
}
.account:hover{
    border-radius: 50px;
    background-color: rgb(222, 224, 226);
}
.account .user span{
    display: block;
}
.account .user{
    margin-left: 4px;
    margin-right: 50px;
    margin-top: -10px;
}
.account .image img{
    height: 50px;
    width: 50px;
    border-radius:100%;
    margin-left: 10px;
}
.account .more{
    margin-top: -5px;
}
.left-sidebar .twitter-search{
    background-color: rgb(247, 249, 249);
    height: 45px;
    min-height: 32px;
    width: 345px;
    margin-bottom: 20px;
    z-index: 4;
    margin-left: 30px;
    margin-right: 45px;
    border-color: rgb(247, 249, 249);
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
}
.left-sidebar .body{
    background-color: rgb(247, 249, 249);
    margin-bottom: 16px;
    border-color: rgb(247, 249, 249);
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    width: 345px;
    height: 630px;
    margin-left: 30px;
}
.main-body .navbar{
    height: 30px;
    width: max-content;
    display: flex;
}
.navbar{
    position: fixed;
    margin-top: 15px;
    top: 0px;
}
.navbar h3{
    margin-right: 485px;
    margin-left: 20px;
    margin-top: -5px;
}
.navbar img{
    height: 23px;
    width: 23px;
}

